extends layout

block content
    div(id="colorWrapperIndex")
        div(id="wrapperIndex")
            p Username: #{user.username}
            br
            p Email: #{user.email}
            br
            p Age: #{user.age}
            br
            p What is your gender?
            p Answer: #{user.ans1}
            br
            p Which tempature do you prefer?
            p Answer: #{user.ans2}
            br
            p Do you like Winnie The Pooh?
            p Answer: #{user.ans3}
            br
            br
            a(href="/logout")
                p Log Out
